## .NET / VS
bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.cache

## Build artifacts
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
.nuget/

## OS
Thumbs.db
desktop.ini
.DS_Store

## App-generated
*.log
temp/
